@{
  Layout = "_Layout";
}
<style>

body {
background-color:#464849;
font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  width:500px;
  margin-top:20px;
  background-color:#586477;
  border:1px solid black;
  font-family: 'Source Sans Pro', sans-serif;
}

label {
margin-top:5px;
color:#e8d176;
font-size:15px;
}

p {
color:white;
}

a {
color:white;
}

h1, h3 {
color:white;
}

a:hover {
  color:white;
}
form {
margin-bottom:0px;
}

button {
margin-bottom:10px;
}
</style>

<div class="container-fluid">


<h1>Your list of contacts has been cleared!</h1>
<p><a href="/contacts/new">Add a new Contact.</a></p>

</div>
