@{
  Layout = "_Layout";
}

<div class="container-fluid">
<style>
body {
background-color:#464849;
}

.container-fluid {
  width:500px;
  margin-top:20px;
  background-color:#586477;
  border:1px solid black;
}

p {
color:white;
}

a {
color:white;
}

h1 {
color:white;
}

a:hover {
  color:white;
}
form {
margin-bottom:0px;
}

button {
margin-bottom:10px;
}
</style>



<h1>@Model.GetName()</h1>
<br>
<p>Address: @Model.GetAddress()</p>
<br>
<p>Phone Number: @Model.GetNumber()</p>
<br>


<form action="/Contacts/list/clear" method="post">
  <button type="submit" name="button">Clear All Contacts</button>

</form>
<form action="/" method="get">
<button type="submit" name="button">View All Contacts</button>
</form>

</div>
