<!DOCTYPE html>
@{
  Layout = "_Layout";
}

<style>

body {
background-color:#464849;
font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  width:500px;
  margin-top:20px;
  background-color:#586477;
  border:1px solid black;
font-family: 'Source Sans Pro', sans-serif;
}

label {
margin-top:5px;
color:#e8d176;
font-size:15px;
}

p {
color:white;
}

a {
color:white;
}

h1, h3 {
color:white;
}

a:hover {
  color:white;
}
form {
margin-bottom:0px;
}

button {
margin-bottom:10px;
}
</style>


<div class="container-fluid">
<h1>Address Book</h1>
<h3>Add a new Contact:</h3>
<div class="row">
<div class="col-md-12">
<form action='/Contacts' method='post'>
  <label for='new-name'>Name: </label>
  <br>
  <input id='new-name' name='new-name' type='text'>
  <br>
  <label for='new-address'>Address: </label>
  <br>
  <input id='new-address' name='new-address' type='text'>
  <br>
  <label for='new-number'>Phone Number: </label>
  <br>
  <input id='new-number' name='new-number' type='text'>
  <br>
  <br>
  <button type='submit'>Add Contact</button>
</form>
  <form action="/Contacts/list/clear" method="post">
    <br>
    <button type="submit" name="button">Clear All Contacts</button>
  </form>
<form action="/" method="get">
  <button type="submit" name="button">View All Contacts</button>
</form>
</div>


</div>
</form>
</div>
