@{
  Layout = "_Layout";
}

<div class="container">
<h1>@Model.GetName()</h1>
<br>
<p>@Model.GetAddress()</p>
<br>
<p>@Model.GetNumber()</p>
<br>

<a href='/Contacts/new'>Add another Contact</a>
<br>
<a href='/Contacts'>View all contacts</a>
<br>
<a href="/">Home</a>

<form action="/Contacts/list/clear" method="post">
  <br>
  <button type="submit" name="button">Clear All Contacts</button>
</form>
</div>
